<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text="" autoHide="false"></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d98473.47545745295!2d-73.78388218731827!3d45.397408149857775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-CN!2sca!4v1651792052715!5m2!1szh-CN!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" height="200"></iframe>
  
    <ion-card>
      <ion-card-content>
        <p>Address: Fake Street,111</p>
        <p>Address: Fake Street,111</p>
        <p>Address: Fake Street,111</p>
        <p>Address: Fake Street,111</p>
        <p>Address: Fake Street,111</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item lines="inset">
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button size="full" color="success">Create Pickup Call</ion-button>

</ion-content>